<ul>
  <li><%= @dictionary[0] %></li>
  <li><%= @dictionary[1] %></li>
  <li><%= @dictionary[2] %></li>
  <li><%= @dictionary[3] %></li>
  <li><%= @dictionary[4] %></li>
  <li><%= @dictionary[5] %></li>
  <li><%= @dictionary[6] %></li>
  <li><%= @dictionary[7] %></li>
  <li><%= @dictionary[8] %></li>
</ul>
